@media screen and (min-width: 641px) {
    body{
        width:640px;
        margin:0 auto;
    }
}
.container{
    clear: both;
    width: 80%;
    margin: 6rem auto;
    border-radius: 5px;
    box-shadow:  0 0 1em #d8d7cb;
    padding: 2rem 1rem;
    text-space: 3px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}
.container img{
    display: inherit;
    margin: 0 auto;
    max-width: 30%;
}
.button{
    width: 30%;
    background: #ee767c;
    color: #FFFFFF;
    text-align: center;
    padding: .5rem 0;
    margin: 1rem auto;
}